html {
    scrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin;
}
body {
    margin: 0;
    padding: 0;
    background: var(--color-bg-dropdown);

    font-family: 'Open Sans';
    font-style: normal;
    overflow: hidden;
}

.main-wrapper {
    width: 100%;
    height: 100vh;
    min-height: 600px;
}

.workspace {
    width: 100%;
    height: 100%;
}

/* Dropper */
.dropper {
    box-sizing: border-box;
    top: 45%;

    width: 591px;
    height: 270px;

    border: 4px dashed var(--color-text);
    border-radius: 15px;
}

.dropper > p {
    width: 325px;
    height: 57px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    margin-bottom: 18px;

    color: var(--color-text);
}

.dropper > .cbtn {
    margin-top: 18px;
}

.cbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 30px;
    gap: 10px;

    height: 50px;

    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    cursor: pointer;

    background: var(--color-sel);
    color: var(--color-text);
    border-radius: 5px;
}

.cbtn.cbtn-secondary {
    background: var(--color-tool-dis);
}

/* Stages panel */
.stages-panel {
    bottom: 2%;
}

.stages-panel .item {
    margin-right: 16px;
}

.stages-panel .item:last-child {
    margin-right: 0;
}

/* Square item */
.item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 64px;
    height: 64px;
    
    background: var(--color-tool-dis);
    border-radius: 5px;
}

.item svg path {
    fill: var(--color-text);
}

.item.item-active {
    background: var(--color-sel);
}

.item.item-muted {
    opacity: 0.5;
}

.item.item-s {
    width: 46px;
    height: 46px;
}

.item.item-xs {
    width: 42px;
    height: 42px;
}

.item.item-btn {
    cursor: pointer;
}

/* Logotype */
.logo-wrapper {
    width: 188px;
    height: 47px;

    top: 2%;
}

.logo-wrapper span {
    color: var(--color-text);
    
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.logo-wrapper .line {
    width: 1px;
    height: 100%;

    background: var(--color-text);
}

.logo-wrapper img {
    width: 62px;
    height: 33px;
}

/* Canvas */
.canvas-wrapper {
    position: relative;
    width: 90%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-bg-hover);
}

.canvas-wrapper canvas {
    position: absolute;
}

#draw-render {
    background: transparent;
}

.draw-selection {
    opacity: 0.5;
}

/* Sidebar */
.sidebar {
    box-sizing: content-box;

    width: 300px;
    min-width: 300px;
    height: 100%;

    z-index: 1;

    background-color: var(--color-bg-dropdown);
    border-left: 1px solid var(--color-border);
}

.sidebar > div:not(.tool-scrollable),
.tool-scrollable > div {
    width: 100%;
    padding: 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: var(--color-text);
    border-bottom: 1px solid var(--color-border);
}
.tool-scrollable > div:last-child {
    border: none;
}

.tool-scrollable {
    position: relative;
    top: 302px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 0;
    height: calc(100vh - 394px);
}

.tool-scrollable.show-table {
    top: 0;
}

.tool-scrollable::-webkit-scrollbar {
	width: 4px;
}

.tool-scrollable::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.25);
	border: 10px 1px solid var(--color-bg-dropdown);
    border-radius: 2px;
    transition: 400ms;
}

.tool-scrollable::-webkit-scrollbar-thumb:hover {
	background-color: rgba(255, 255, 255, 0.4);
	border: 10px 1px solid var(--color-bg-dropdown);
    border-radius: 4px;
    transition: 400ms;
}

.sidebar > div.toolbar {
    border-bottom: none;
}

.sidebar > div:first-child {
    padding: 0;
    border-bottom: 1px solid var(--color-border);
    box-sizing: content-box;
}

.sidebar > div:last-child {
    border-bottom: none;
    border-top: 1px solid var(--color-border);
    position: fixed;
    background-color: var(--color-bg-dropdown);
    bottom: 0;
}

#stage-description {
    padding: 18px 20px 20px 20px;
}

#stage-description > p {
    margin: 0;
}

/* Toolbar */
.toolbar {
    flex: 1 0 auto;
}

.toolbar .item {
    margin-right: 14px;
}

.toolbar .item:last-child {
    margin-right: 0;
}

.tool-group {
    margin-bottom: 20px;
}

.tool-group:last-child {
    margin-bottom: 0;
}

/* Magnifier */
.magnifier-wrapper {
    width: 300px;
    height: 300px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.magnifier-cross-wrapper {
    position: absolute;
    width: 300px;
    height: 300px;
}

.magnifier-wrapper canvas {
    background: var(--color-bg-hover);
}

.magnifier-wrapper .line-vertical {
    width: 1px;
    height: 100%;

    background: var(--color-bg-dropdown);
}

.magnifier-wrapper .line-horizontal {
    width: 100%;
    height: 1px;

    background: var(--color-bg-dropdown);
}

.magnifier-wrapper .circle {
    width: 5px;
    height: 5px;

    background: var(--color-text);
    border: 1px solid var(--color-bg-dropdown);
    border-radius: 50%;
}

.coord-panel {
    position: absolute;
    width: 200px;
    height: 32px;
    left: 50px;
    bottom: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: var(--color-text);
    background: rgba(0, 0, 0, 0.6);
    border-radius: 32px;
}

.coord-panel > span {
    margin-right: 20px;
}

.coord-panel > span:last-child {
    margin-right: 0;
}

.hidden {
    display: none !important;
}

.canvas-container {
    position: relative;
}
