body {
    margin: 0;
    padding: 0;
    background: var(--color-bg-dropdown);
}

.main-wrapper {
    width: 100%;
    height: 100vh;
    min-height: 600px;
}

.workspace {
    width: 100%;
    height: 100%;
}

.sidebar {
    box-sizing: content-box;

    width: 300px;
    min-width: 300px;
    height: 100%;

    border-left: 1px solid var(--color-border);
}

/* Dropper */
.dropper {
    box-sizing: border-box;
    top: 40%;

    width: 591px;
    height: 270px;

    border: 4px dashed var(--color-text);
    border-radius: 15px;
}

.dropper > p {
    width: 325px;
    height: 57px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: var(--color-text);
}

.dropper > .file-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 16px;
    gap: 10px;

    width: 315px;
    height: 66px;

    background: var(--color-sel);
    border-radius: 5px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 5px;

    text-align: center;

    color: var(--color-text);
}

/* Stages panel */
.stages-panel {
    bottom: 2%;
}

.stage {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 64px;
    height: 64px;

    margin-right: 8px;
    margin-left: 8px;
    
    background: var(--color-tool-dis);
    opacity: 0.5;
    border-radius: 5px;
}

.stage.stage-active {
    background: var(--color-sel);
    opacity: 1;
}

.stage.stage-passed {
    background: var(--color-tool-dis);
    opacity: 1;
}

.stage.stage-small {
    width: 46px;
    height: 46px;

    margin-right: 7px;
    margin-left: 7px;
}

.stage.stage-right {
    margin-left: 0;
}

/* Logotype */
.logo-wrapper {
    width: 188px;
    height: 47px;

    top: 2%;
}

.logo-wrapper span {
    color: var(--color-text);

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.logo-wrapper .line {
    width: 1px;
    height: 100%;

    background: var(--color-text);
}

.logo-wrapper img {
    width: 62px;
    height: 33px;
}

/* Canvas */
.canvas-wrapper {
    position: relative;

    width: 80%;
    height: 70%;
}

.canvas-wrapper canvas {
    background: var(--color-bg-hover);
}

/* Sidebar */
.sidebar > div {
    width: 100%;
    padding: 20px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: var(--color-text);
    border-bottom: 1px solid var(--color-border);
}

.sidebar > div:first-child {
    padding: 0;
}

.sidebar > div:last-child {
    border-bottom: none;
}

.sidebar > div > p {
    margin: 0;
}

/* Toolbar */
.toolbar {
    flex: 0 1 auto;
}

/* Magnifier */
.magnifier-wrapper {
    width: 300px;
    height: 300px;
}

.magnifier-wrapper canvas {
    background: var(--color-bg-hover);
}

.magnifier-wrapper .line-vertical {
    width: 1px;
    height: 100%;

    background: var(--color-bg-dropdown);
}

.magnifier-wrapper .line-horizontal {
    width: 100%;
    height: 1px;

    background: var(--color-bg-dropdown);
}

.magnifier-wrapper .circle {
    width: 5px;
    height: 5px;

    background: var(--color-text);
    border: 1px solid var(--color-bg-dropdown);
    border-radius: 50%;
}

.hidden {
    display: none !important;
}
