<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Парсер графиков</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/colors.css">
    <link rel="stylesheet" href="/css/editor.css">
</head>
<body>
    <div class="main-wrapper d-flex">
        <div class="workspace position-relative">
            <div class="logo-wrapper position-absolute start-50 translate-middle-x d-flex align-items-center justify-content-between">
                <img src="/images/svg/logo.svg">
                <div class="line"></div>
                <div><span>Plot Parser</span></div>
            </div>
            <div id="drop-area" class="dropper position-absolute start-50 translate-middle d-flex flex-column align-items-center justify-content-center">
                <p>Используйте drag & drop<br>(перетащите файл в область)<br>или добавьте картинку нажав на кнопку</p>
                <label class="cbtn">
                    Загрузить картинку
                    <input id="file-input" type="file" hidden>
                </label>
            </div>
            <div id="canvas-wrapper" class="canvas-wrapper position-absolute top-50 start-50 translate-middle hidden">
                <canvas class="d-none" id="canvas"></canvas>
                <canvas id="image-render"></canvas>
                <canvas id="draw-render"></canvas>
            </div>
            <div class="stages-panel position-absolute start-50 translate-middle-x d-flex align-items-center">
                <div class="item item-muted"><img src="/images/svg/image-plus-outline.svg"></div>
                <div class="item item-muted"><img src="/images/svg/crop.svg"></div>
                <div class="item item-muted"><img src="/images/svg/white-balance-sunny.svg"></div>
                <div class="item item-muted"><img src="/images/svg/circle-half-full.svg"></div>
                <div class="item item-muted"><img src="/images/svg/axis-arrow.svg"></div>
                <div class="item item-muted"><img src="/images/svg/chart-timeline-variant.svg"></div>
                <div class="item item-muted"><img src="/images/svg/arrow-top-right-bold-box-outline.svg"></div>
            </div>
        </div>
        <div id="sidebar" class="sidebar d-flex flex-column hidden">
            <div id="magnifier-container" class="magnifier-wrapper">
                <div class="magnifier-cross-wrapper">
                    <div class="line-horizontal position-absolute top-50 start-50 translate-middle"></div>
                    <div class="line-vertical position-absolute top-50 start-50 translate-middle"></div>
                    <div class="circle position-absolute top-50 start-50 translate-middle"></div>
                    <div class="coord-panel d-flex justify-content-center align-items-center">
                        <span>x: <span id="coord-x"></span></span>
                        <span>y: <span id="coord-y"></span></span>
                    </div>
                </div>
                <canvas id="magnifier" width="300" height="300"></canvas>
            </div>
            <div class="tool-scrollable">
                <div id="stage-description">
                    <p>Кадрируйте и откорректируйте изображение для более точной работы с ним</p>
                </div>
                <div class="toolbar">
                    <div id="tool-group-0">
                        <div class="tool-group">
                            <div class="d-flex flex-row tabs">
                                <div id="tool-group-0-btn-0" class="item item-s item-btn item-active"><img src="/images/svg/crop.svg"></div>
                                <div id="tool-group-0-btn-1" class="item item-s item-btn"><img src="/images/svg/vector-square.svg"></div>
                            </div>
                        </div>
                        <div id="tool-group-0-subs">
                            <div id="tool-group-0-0">
                                <div class="tool-group">
                                    <p>Повернуть изображение</p>
                                    <input id="rotation-text" type="text" class="mb-2">
                                    <input id="rotation-range" type="range" min="-180" max="180">
                                </div>
                                <div class="tool-group">
                                    <p>Отразить</p>
                                    <div class="d-flex flex-row mb-3">
                                        <div id="flip-horizontal" class="item item-xs item-btn"><img src="/images/svg/flip-horizontal.svg"></div>
                                        <div id="flip-vertical" class="item item-xs item-btn"><img src="/images/svg/flip-vertical.svg"></div>
                                    </div>
                                    <button id="img-edit-btn" class="cbtn">Применить</button>
                                </div>
                            </div>
                            <div id="tool-group-0-1" class="d-none">
                                <div class="tool-group">
                                    <p>Изменение перспективы по 4 углам</p>
                                    <button id="perspective-btn" class="cbtn">Применить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tool-group-1">
                        <div class="tool-group">
                            <p>Контрастность</p>
                            <input id="contrast-range" type="range" min="0" max="200" step="1">
                        </div>
                        <div class="tool-group">
                            <p>яркость</p>
                            <input id="brightness-range" type="range"min="0" max="200" step="1">
                        </div>
                        <div class="tool-group">
                            <p>насыщенность</p>
                            <input id="saturation-range" type="range" min="0" max="200" step="1">
                        </div>
                        <div class="tool-group">
                            <input id="invert-cb" type="checkbox">
                            <label>инверсия цветов</label>
                        </div>
                    </div>
                    <div id="tool-group-2">
                        <div class="tool-group">
                            <div class="d-flex flex-row tabs">
                                <div id="add-rect-btn" class="item item-s item-btn item-active"><img src="/images/svg/plus.svg"></div>
                                <div id="delete-rect-btn" class="item item-s item-btn"><img src="/images/svg/cross.svg"></div>
                                <div id="pencil-btn" class="item item-s item-btn"><img src="/images/svg/brush.svg"></div>
                                <div id="eraser-btn" class="item item-s item-btn"><img src="/images/svg/eraser.svg"></div>
                            </div>
                        </div>
                        <div class="tool-group">
                            <p>Размер кисти</p>
                            <input id="pencil-range" type="range" min="1" max="201" step="1">
                        </div>
                        <div class="tool-group">
                            <p>Размер ластика</p>
                            <input id="eraser-range" type="range" min="1" max="201" step="1">
                        </div>
                        <div class="tool-group">
                            <button id="temp">Test</button>
                        </div>
                    </div>
                    <div id="tool-group-3">
                        <div class="tool-group">
                            <p>Ось - X</p>
                            <div class="mb-3">
                                <label for="X-axis-type" class="form-label">Тип оси</label>
                                <select id="X-axis-type" class="form-select">
                                    <option value="line">Линейный</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="x-start" class="form-label">X - начальная точка</label>
                                <input type="number" id="x-start" class="form-control" placeholder="Укажите значение для X1">
                            </div>
                            <div class="mb-3">
                                <label for="x-end" class="form-label">X - конечная точка</label>
                                <input type="text" id="x-end" class="form-control" placeholder="Укажите значение для X2">
                            </div>
<!--                            <div class="form-check">-->
<!--                                <input class="form-check-input" type="checkbox" id="x-using-units">-->
<!--                                <label class="form-check-label" for="x-using-units">Единицы измерения</label>-->
<!--                            </div>-->
<!--                            <div class="units-x" id="unitsX">-->
<!--                                <div class="mb-3">-->
<!--                                    <label class="x-unit-label form-label" for="selectTypeX">Тип единиц измерения</label>-->
<!--                                    <select id="selectTypeX" class="form-select">-->
<!--                                        <option selected>Время</option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                                <div class="mb-3">-->
<!--                                    <label class="y-unit-label form-label" for="selectUnitX">Выбор единицы</label>-->
<!--                                    <select id="selectUnitX" class="form-select">-->
<!--                                        <option selected>День</option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <div class="tool-group">
                            <p>Ось - Y</p>
                            <div class="mb-3">
                                <label for="y-axis-type" class="form-label">Тип оси</label>
                                <select id="y-axis-type" class="form-select">
                                    <option value="line">Линейный</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="y-start" class="form-label">Y - начальная точка</label>
                                <input type="text" id="y-start" class="form-control" placeholder="Укажите значение для Y1">
                            </div>
                            <div class="mb-3">
                                <label for="y-end" class="form-label">Y - конечная точка</label>
                                <input type="text" id="y-end" class="form-control" placeholder="Укажите значение для Y2">
                            </div>
<!--                            <div class="form-check">-->
<!--                                <input class="form-check-input" type="checkbox" id="y-using-units">-->
<!--                                <label class="form-check-label" for="y-using-units">Единицы измерения</label>-->
<!--                            </div>-->
<!--                            <div class="units-y" id="unitsY">-->
<!--                                <div class="mb-3">-->
<!--                                    <label class="y-unit-label form-label" for="selectTypeY">Тип единиц измерения</label>-->
<!--                                    <select id="selectTypeY" class="form-select">-->
<!--                                        <option selected>Время</option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                                <div class="mb-3">-->
<!--                                    <label class="y-unit-label form-label" for="selectUnitY">Выбор единицы</label>-->
<!--                                    <select id="selectUnitY" class="form-select">-->
<!--                                        <option selected>День</option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                    <div id="tool-group-4">
                        <div class="tool-group">
                            <div class="d-flex flex-row tabs">
                                <div id="point-select-btn" class="item item-s item-btn item-active"><img src="/images/svg/cursor.svg"></div>
                                <div id="point-edit-ptn" class="item item-s item-btn"><img src="/images/svg/pencil.svg"></div>
                                <div id="point-eraser-btn" class="item item-s item-btn"><img src="/images/svg/eraser.svg"></div>
                                <div id="point-dot-btn" class="item item-s item-btn"><img src="/images/svg/dot.svg"></div>
                            </div>
                        </div>
                        <div class="tool-group">
                            <p>Определите по цвету</p>
                        </div>
                    </div>
                    <div id="tool-group-5">

                    </div>
                </div>
            </div>
            <div class="d-flex">
                <button id="btn-prev" class="cbtn cbtn-secondary">Назад</button>
                <button id="btn-next" class="cbtn">Далее</button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="module" src="/js/App.js"></script>
</body>
</html>
