<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Парсер изображений</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-6">
                <div class="mb-4 w-100 border rounded image-frame">
                    <img class="image-center image-workspace" src="" id="current-image">
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <label class="btn btn-primary">
                        Загрузить изображение
                        <input type="file" id="image-input" hidden>
                    </label>
                    <input type="number" min="1" max="700" id="perspective-width">
                    <input type="number" min="1" max="700" id="perspective-height">
                    <button class="btn btn-primary" id="perspective-submit">Коррекция перспективы</button>
                </div>
                <div class="w-100 border rounded p-3">
                    <div class="mb-3">
                        <label>Цветовой порог</label>
                        <input type="range" min="0" max="442" id="color-difference">
                    </div>
                    <div class="w-100 border rounded p-3 mb-3">
                        <div class="mb-3">
                            <label>Цвет</label>
                            <input type="color" id="color-select">
                        </div>
                        <div>
                            <button class="btn btn-primary" id="color-entire-submit">поиск</button>
                            <button class="btn btn-primary" id="color-area-submit">поиск по области</button>
                        </div>
                    </div>
                    <div class="w-100 border rounded p-3">
                        <div class="mb-3">
                            <label>Радиус поиска</label>
                            <input type="range" min="1" max="100" id="color-search-radius">
                        </div>
                        <div>
                            <button class="btn btn-primary" id="color-point-submit">поиск по точке</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <textarea class="form-control w-100 mb-3" style="resize: none; height: 400px;" id="output" readonly></textarea>
                <div class="w-100 border rounded p-3 mb-3">
                    <div class="mb-3">
                        <label>Количество итераций</label>
                        <input type="number" min="1" max="100" id="smooth-iterations">
                    </div>
                    <div>
                        <button class="btn btn-primary" id="smooth-submit">сглаживание</button>
                    </div>
                </div>
                <div class="w-100 border rounded p-3">
                    <div class="mb-3">
                        <label>X1</label>
                        <input type="number" id="x1">
                        <label>X2</label>
                        <input type="number" id="x2">
                    </div>
                    <div class="mb-3">
                        <label>Y1</label>
                        <input type="number" id="y1">
                        <label>Y2</label>
                        <input type="number" id="y2">
                    </div>
                    <div>
                        <button class="btn btn-primary" id="convert-area-submit">преобразовать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>
